// ————————————————————————————————————————
// main.scss
// Import Bulma and OAPEN’s custom styles
// Set colour palette, typography
// and other customisations of Bulma
// ————————————————————————————————————————


// ————————————————————————————————————————
// Import Bulma and OAPEN’s styles
// ————————————————————————————————————————

// Bring in OAPEN’s colour palette and typography variables
@use "./oa-variables" as *;

// Import Bulma’s entry-point with overrides
@use "bulma/sass/utilities/initial-variables" with (
  // Prefix everything with “bulma-”
  $class-prefix: "bulma-",

  // Disable all of Bulma’s default rounded border radius
  $radius: 0,
  $radius-small: 0,
  $radius-medium: 0, 
  $radius-large: 0,

  // Keep .is-rounded available in case we do need it
  $radius-rounded: 9999px
);

// Map Bulma’s semantic colors to our custom variables
@use "bulma/sass/utilities/derived-variables" with (
  $primary:  $oa-celestial-blue,
  $link:     $oa-ink-black,
  $info:     $oa-scholarly-gold,
  $success:  $oa-celestial-blue,
  $warning:  $oa-scholarly-gold,
  $danger:   $oa-tomato-red,
  $scheme-main:   $oa-parchment-white,
  $scheme-invert: $oa-ink-black,
  $text:          $oa-ink-black,
  $custom-colors: (
    "ink":       ($oa-ink-black,       $oa-parchment-white),
    "parchment": ($oa-parchment-white, $oa-ink-black),
    "celestial": ($oa-celestial-blue,  $oa-parchment-white),
    "gold":      ($oa-scholarly-gold,  $oa-ink-black),
    "tomato":    ($oa-tomato-red,      $oa-parchment-white),
  )
);

// Modify Bulma’s default title colours
@use "bulma/sass/elements/title" with (
  $title-color: inherit,
  $subtitle-color: inherit,
  $title-strong-color: inherit,
  $subtitle-strong-color: inherit
);

// Pull in all of Bulma (base, components, layout, themes, helpers…)
@use "bulma/bulma";

// Our own custom oa-* classes — last resort, as Bulma should cover most use cases
@use "./oa-custom-classes";

// ————————————————————————————————————————
// Bulma class overrides
// ————————————————————————————————————————

// Include a11y focus without shadows, since we are disabling/overriding them
.bulma-input:focus,
.bulma-textarea:focus,
.bulma-select select:focus {
  outline: 2px solid var(--bulma-link);
  outline-offset: 2px;
  box-shadow: none;
};