/target/
# ignore all hidden
.*
!/.gitignore

# macOS Finder metadata
.DS_Store

# Local dev-only Spring profile
application-dev.properties

# IDE-specific files
.Rhistory
.RData

# Node.js dependencies
node_modules/
.sass-cache/