/target/
# ignore all hidden
.*
!/.gitignore

# macOS Finder metadata
.DS_Store

# ignore application profiles - containing sensitive data ...
application*.properties
# ... except the anonymized template
!application-xyz.properties

# IDE-specific files
.Rhistory
.RData

# Node.js dependencies
node/
node_modules/
.sass-cache/
