<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Web - Attachments</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="bulma-section oapen-main" layout:fragment="content">

		<th:block th:fragment="attachments" th:with="attachments=${@viewhelpers.attachments(article.media)}">

			<div class="oapen-attachments bulma-content" th:if="${not #lists.isEmpty(attachments)}">
			
				<h2 class="oapen-attachments-header bulma-title bulma-is-2 bulma-mt-6">Files</h2>
			
				<ul>
					<li th:each="attachment:${attachments}">
						<a data-fancybox="gallery" th:href="${attachment.url}" th:text="${attachment.name}">
							Attachment name
						</a>
					</li>
				</ul>
				
			</div>

		</th:block>

	</main>

</body>

</html>




