<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Web - Blogposts</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="oapen-main" layout:fragment="content">

		<aside class="oapen-hypotheses-items"
					th:fragment="hypotheses"
					th:if="${not #lists.isEmpty(blogPosts)}">

			<ul class="bulma-columns bulma-is-multiline bulma-mt-4">

				<li th:each="blogPost : ${blogPosts}"
						class="bulma-column
									bulma-is-full-mobile
									bulma-is-one-third-desktop">

					<div class="bulma-panel bulma-is-shadowless" style="height:100%;">
						<a th:href="@{'/blog/?link='+${@viewhelpers.urlEncode(blogPost.link)}}"
							class="bulma-panel-block
											bulma-has-background-paper
											bulma-is-flex
											bulma-is-flex-direction-column
											bulma-is-justify-content-flex-start
											bulma-is-align-items-stretch
											bulma-is-flex-grow-1"
							style="height:100%;">

							<!-- Date -->
							<p class="bulma-mb-2 bulma-is-size-7">
								<time th:text="${#temporals.format(blogPost.publicationDate,'E dd MMM yyyy')}">
									THU 26 Mar 2020
								</time>
							</p>

							<!-- Title row with arrow -->
							<div th:text="${blogPost.title}" class="bulma-is-size-4">Blogpost title</div>

							<!-- Excerpt -->
							<p class="bulma-mt-2 bulma-is-size-6"
								th:utext="${@viewhelpers.abbreviate(blogPost.description,300)}">
								Blogpost Description
							</p>

						</a>
					</div>

				</li>

			</ul>

		</aside>

	</main>


</body>

</html>




