<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Web - Current Section</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="oapen-main" layout:fragment="content">

		<nav class="oapen-section-topics" th:fragment="topics" th:if="${section}">

			<div class="bulma-is-title bulma-is-5 oapen-section-caption" th:text="${section.name}">This section name</div>
			
			<hr class="bulma-is-hidden"/>

			<ul>

				<li th:each="topic:${section.topics}">
					<a th:href="@{'/'+${section.slug}+'/'+${topic.slug}}" th:text="${topic.name}">
						Topic name
					</a>
				</li>

			</ul>

		</nav>

	</main>

</body>

</html>




