<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name=”robots” content=”noindex,follow”/>
    <title>OAPEN Web - Funder Titles</title>
</head>
<body>

<!--
	Funder Title Selection
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="fundertitles">

	<div id="FunderTitles" class="bulma-mt-6">
	
		<div class="bulma-columns bulma-is-multiline bulma-is-mobile">
		
			<div class="bulma-column bulma-is-one-sixth-tablet bulma-is-one-third-mobile" th:each="item: ${featuredItems}">
	
				<a class="bulma-card" th:href="${item.url}">
					<div class="bulma-card-image">
						<figure class="bulma-image bulma-is-2by3">
							<img th:src="${item.thumbnailPath}!=''?${settings.dspace_api}+${item.thumbnailPath}:@{'/static-assets/images/missing.png'}" alt="cover"/>
						</figure>
						<!-- /* figcaption th:text="${dspace_api}+${item.thumbnailPath}"></figcaption> */ -->
					</div>
					<footer class="bulma-card-footer">
						<span class="bulma-card-footer-item" th:text="${item.title}">
							Ut wisi enim ad minim veniam
						</span>
					</footer>
				</a>
	
			</div>
	
		</div><!-- columns -->
	
	</div>	
				
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

