<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Web - Related Articles</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content">

		<!-- Linked articles panel -->
		<nav class="bulma-panel bulma-is-shadowless"
				th:fragment="linked"
				th:if="${not #lists.isEmpty(linked)}"
				aria-labelledby="linked-title">

			<header class="bulma-level bulma-is-mobile bulma-pb-2 oa-section-header">
				<div class="bulma-level-left">
					<h3 id="linked-title"
							class="bulma-title bulma-is-6 bulma-pb-4 bulma-has-text-weight-semibold">
						Linked
					</h3>
				</div>
			</header>

			<a th:each="article : ${linked}"
				th:href="@{'/article/'+${article.slug}}"
				class="bulma-panel-block">
				<span th:text="${article.title}">Article title</span>
			</a>
		</nav>

		<!-- Related articles panel -->
		<nav class="bulma-panel bulma-is-shadowless"
				th:fragment="related"
				th:if="${not #lists.isEmpty(related)}"
				aria-labelledby="related-title">

			<header class="bulma-level bulma-is-mobile bulma-pb-2 oa-section-header">
				<div class="bulma-level-left">
					<h3 id="related-title"
							class="bulma-title bulma-is-6 bulma-pb-4 bulma-has-text-weight-semibold">
						Related
					</h3>
				</div>
			</header>

			<a th:each="article : ${related}"
				th:href="@{'/article/'+${article.slug}}"
				class="bulma-panel-block">
				<span th:text="${article.title}">Article title</span>
			</a>
		</nav>

	</main>

</body>

</html>




