
#OapenHeader {
	margin-bottom: 1rem;	
}

.topnav {
	padding: 20px 15px;	
	
	.oapen-logo {
		width: 120px;
	}

	.oapen-btn-deposit {
		&, &:hover {
			background-color: orange;
			border-color: transparent;
			color: white;
		}		
	}	

	.buttons {
		li { 
			margin-right: .5rem;
			margin-bottom: .5rem;
		}		
	}	

}	

.oapen-mainnav {
	box-shadow: 0px 3px 4px 1px rgba(50,50,50,0.25);
	border-bottom: solid 1px #aaa;
}	

#navbarMain {
	
	font-family: "Roboto Condensed", sans-serif;
	font-size: 110%;
	
	// actually, this is a hack - see https://github.com/jgthms/bulma/issues/1307
	// --------------------------------------------------------------------------------
	@media screen and (min-width: 1024px) {
	
		& > ul > li {
			display: flex;
			position: relative;
			
			a {
				flex-grow: 1;
			}	
		}
	
		.oapen-nav-dropdown:hover {
			background-color: $navbar-item-hover-background-color;
			.navbar-dropdown { display: block }	
		}	
	
	}	

	// --------------------------------------------------------------------------------


	.navbar-item {
	
		padding-right: 2em;
		padding-left: 2em;
		border-style: solid;
		border-width: 0;
		border-color: #fff;
		
		&.is-active {
			border-width: 0 1px;
			
			&.navbar-link:not(.is-arrowless)::after {
		    	border-color: #fff;
		    	opacity: .7;
    		}	
		}
	}		

	@media screen and (min-width: 1024px) {

		.navbar-dropdown {
			ul {
				column-count: 2; 
			}	
			li a.navbar-item {
				display: inline-block;
				max-width: 20em;
				overflow: hidden;
				text-overflow: ellipsis;	
			}	
		}	
	}		


	.oapen-nav-right {

		.navbar-dropdown {
			right: 0;
			left: auto;
		}
	}


}	

