<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8"/>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">OAPEN</title>
	<link rel="stylesheet" th:href="@{/static-assets/css/styles.css?v=1.18}"/>
	<link rel="stylesheet" th:href="@{/static-assets/css/contenttypes.css?v=1.18}"/>
	
	<link rel="stylesheet" th:href="@{/static-assets/fontawesome-pro-5.12.1-web/css/all.min.css?v=1.06}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">	
	
    <meta property="og:title" content="Online library and publication platform"/>
    <meta property="og:image" content="//oapen.org/static-assets/images/oapenlogo-banner.png"/>
	
</head>

<body th:classappend="${bodyClass}">

	<!--
		HEADER
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<header id="OapenHeader">

		<div class="container">

			<!-- logo, search/deposit/join -->
			<nav class="oapen-topnav" role="navigation">

				<div class="level topnav">

					<div class="level-left">

						<a th:href="@{'/'}">
							<img th:src="@{/static-assets/images/layout/oapenlogo 01 colour - open access.png}" width="150" alt="Logo Oapen" class="oapen-logo">
						</a>

					</div>

					<div class="level-right">

						<ul class="buttons">

							<li>
								<a href="https://eepurl.com/kEPGr"
								   class="button oapen-btn-newsletter">
									<i class="fas fa-envelope-open-text"></i>
									Newsletter
								</a>
							</li>

							<li th:each="mnusection: ${headerSections}">
								<a th:text="${mnusection.name}"
								   th:href="@{'/'+${mnusection.slug}}"
								   class="button" th:classappend="oapen-btn-+${mnusection.slug}">
									Button right
								</a>
							</li>

						</ul>

					</div>

				</div>

			</nav>

		</div><!-- /container -->

		<nav class="navbar oapen-mainnav" role="navigation">

			<div class="container">

				<div class="navbar-brand">

					<!-- hamburger -->
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
						<span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span>
					</a>

				</div>

				<div id="navbarMain" class="navbar-menu">

					<ul class="navbar-start">

						<li th:each="mnusection: ${menuLeftSections}" class="oapen-nav-dropdown">
							<th:block th:insert="layout/submenu :: section_navigation">
								sub menu
							</th:block>
						</li>

					</ul>
					
					<ul class="navbar-end oapen-nav-right">

						<li th:each="mnusection: ${menuRightSections}" class="oapen-nav-dropdown">
							<th:block th:insert="layout/submenu :: section_navigation">
								sub menu
							</th:block>
						</li>

					</ul>

				</div>

			</div>

		</nav>

	</header>

	<!--
		MAIN
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content">

		<hr class="is-sr-only"/>

		<div class="container content">

			<!-- content -->
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->

			<h1>Static content for prototyping purposes only</h1>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
				Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
				Phasellus et placerat elit.
			</p>
			<!-- /content -->

		</div>

	</main>


	<!--
		FOOTER
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<footer class="footer">

		<div class="container">

			<div class="oapen-ftr-header">
				<div class="is-sr-only">Oapen - Publishing in European Networks</div>
				<hr class="is-hidden"/>
			</div>

			<div class="columns oapen-footer-columns">

		  		<div class="column oapen-footer-nav">

		  			<ul class="menu-list">

						<li th:each="mnusection: ${footerSections}">
							<a th:href="@{'/'+${mnusection.slug}}"
							   th:text="${mnusection.name}">
							   Footer Menu Item
							</a>
						</li>

					</ul>

				</div><!-- /footer-nav -->

				<div class="column">
				
					<div class="oapen-footer-licence">
						
						<div class="title is-6">Licence</div>
						
						<hr class="is-hidden"/>
						
						<p>
							If not noted otherwise all contents are available under Attribution 4.0
							International 
							<a href="https://creativecommons.org/licenses/by/4.0/">(CC BY 4.0)</a>
						</p> 
						
						<p>
							<a href="https://creativecommons.org/licenses/by/4.0/">
								<img th:src="@{/static-assets/images/CC-BY-300x105.png}" width="100" alt="CC-BY"/>
							</a>
						</p>
					
					</div>
					
					<div class="oapen-newsletter">

						<div class="title is-6">Newsletter</div>
						
						<hr class="is-hidden"/>

						<i class="fal fa-envelope-open-text"></i>

						<ul>
							<li>
								<a href="https://eepurl.com/kEPGr">
									Subscribe to our newsletter
								</a>
							</li>
							<li>
								<a href="https://us4.campaign-archive2.com/home/?u=314fa411ba5eaaee7244c95e1&id=e31e6f80e1">
									view our news archive
								</a>
							</li>
						</ul>

					</div>

					<div class="oapen-social-links">

						<div class="title is-6">Follow us on</div>
						
						<hr class="is-hidden"/>

						<ul>
							<li>
								<a href="https://twitter.com/oapenbooks">
									<i class="fab fa-twitter-square"></i>
									<span class="is-sr-only">Twitter</span>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/OAPENbooks">
									<i class="fab fa-facebook-square"></i>
									<span class="is-sr-only">Facebook</span>
								</a>
							</li>
						</ul>

					</div>

				</div>

				<div class="column oapen-credits">

					<div class="title is-6">Credits</div>
					
					<hr class="is-hidden"/>

					<ul>
						<li>
							<a href="https://europa.eu/european-union/index_en">
								<img th:src="@{/static-assets/images/eu-flag.png}" width="100" alt="logo EU"/>
								<span class="is-sr-only">European Union</span>
								<br/>
								<small class="is-size-7">
									This project received funding from the European Union’s Horizon 2020 research 
									and innovation programme under grant agreement No 683680, 810640, 871069 and 964352.
 								</small>
							</a>
						</li>
					</ul>

					<div class="title is-6">Donate</div>
					
					<hr class="is-hidden"/>

					<ul>
						<li>
							<img th:src="@{/static-assets/images/donation-qr-code.png}" alt="Donate to OAPEN Foundation"
								style="width:128px;height:128px;max-height:none;max-width:none;"/>
								<br/>
							<small class="is-size-7">
								Support DOAB and the OAPEN Library
							</small>
						</li>
						<li>
							<form action="https://www.paypal.com/donate" method="post" target="_top">
								<input type="hidden" name="hosted_button_id" value="VPW4DRBLBM9J8" />
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" style="border:none" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
								<img alt="" border="0" src="https://www.paypal.com/en_NL/i/scr/pixel.gif" width="1" height="1" />
							</form>
						</li>
					</ul>

				</div>

				<div class="column oapen-addresses">

					<hr class="is-sr-only"/>

					<p>
						OAPEN is based in the Netherlands, with its registered office in the National Library in The Hague.
					</p>
					<p>
						Director: Niels Stern
					</p>
					<address>
						Address:<br/>
						OAPEN Foundation<br/>
						Prins Willem-Alexanderhof 5<br/>
						2595 BE The Hague
					</address>
					<p>
						Websites:<br/>
						OAPEN Home: <a href="https://www.oapen.org">www.oapen.org</a><br/>
						OAPEN Library: <a href="https://library.oapen.org">library.oapen.org</a><br/>
						DOAB: <a href="https://www.doabooks.org">www.doabooks.org</a>
					</p>

				</div>


			</div><!-- /footer columns -->


			<div class="content has-text-centered">

				<div class="is-size-7">
					<a href="https://www.trilobiet.nl">website by Trilobiet</a>
				</div>

			</div>

		</div>

	</footer>

	<!-- / Local version of the cdn scripts are available in static-assets/js/ in case the CDN disappears / -->

	<script th:src="@{/static-assets/js/jquery-3.4.1.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
	<script th:src="@{/static-assets/js/scripts.js?v=1.02}"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<!-- /* Loaded locally <script src="https://kit.fontawesome.com/33a853ba11.js" crossorigin="anonymous"></script> */ -->
	
	<th:block th:insert="include/googleanalyticsscript :: script">
		Google Analytics
	</th:block>
	
	<th:block th:insert="include/cookiespopupscript :: thescript">
		Cookies Consent Popup
	</th:block>
	
	<!----------------------------------- 
	Website by	 
    _____     _ _       _     _      _   
   |_   _| __(_) | ___ | |__ (_) ___| |_ 
     | || '__| | |/ _ \| '_ \| |/ _ \ __|
     | || |  | | | (_) | |_) | |  __/ |_ 
     |_||_|  |_|_|\___/|_.__/|_|\___|\__|
                                       	
	2020 www.trilobiet.nl
	------------------------------------>

</body>
</html>
