<!doctype html>
<html layout:decorate="~{error/error}"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
	  class="oa-h-100">
<head>
    <title>OAPEN Web - Application/Server Error</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="oapen-main">
	
		<div class="container content" layout:fragment="content">
			<h1 class="oapen-is500">500</h1>
			Some outer space error occurred..
		</div>
	
	</main>

</body>

</html>




