h1, h2, h3, h4, h5, .oapen-header {
	
	font-family: "Roboto Slab", serif;
}	

h1.title {
	color: $purple;
}

.title {
	font-weight:  $weight-normal;
	color: $red1;
	line-height: 1.325;
}

.intro {
	font-family: Roboto Slab;	
}	 

.content {
	
	// some full out written links may cross the border...
	overflow-x: hidden;
	a {
		overflow-wrap: anywhere;		
	}	
	
	.title {
		font-weight: $weight-normal;
	}	

	p {
		max-width: 55em;	
	}
	
	hr {
		background-color: #ccc;
		height: 1px;
	}	
	
	/*.chapeau, &>p:first-of-type {
		font-size: 1.35em;
	} */		
	
	h1, h2, h3 {
		font-family: Roboto Slab;
		font-weight: 400;
		line-height: 1.325;
		color: $grey-dark;
		a { word-break: break-word; }
	}	

	h4, h5, h6 {
		font-family: Roboto;
		font-weight: 700;
		line-height: 1.325;
		color: #000000;
		a { word-break: break-word; }
	}	

	h1 { font-size: $h1size; }	
	h2 { font-size: $h2size; }		
	h3 { font-size: $h3size; }		
	
	h4 { font-size: $h4size; }		
	h5 { font-size: $h5size; }
	h6 { font-size: $h6size; font-style: italic; }

	h1 { color: $red1; }	

	a[target="_blank"] { 
		@include fa-after('\f08e', .85em);
	} 

	ul {
		@media screen and (max-width: 768px) {
			margin-left: 1em;
		}		
	}	
}

.oapen-section-caption {
	
	padding-bottom: .5em;
	border-bottom: solid 1px #ccc;
	font-family: Roboto Condensed;
	text-transform: uppercase;
	color: #666;
	
	&.title {
		font-size: .9rem;	
	}
}

.oapen-primary {
	
	@media screen and (min-width: 1024px) {
		
		padding: 2rem;
		background-color: #faf6f6;
		
		/*@at-root {
			div:first-of-type &,
			article:first-of-type &,
			section:first-of-type & {
				margin-top: -2rem;	
			}
		}*/
	}	
}	

.oapen-toc {
	
	padding: 2rem;
	background-color: $light-blue; 
	
	.oapen-toc-header {
		font-size: $h3size;
		font-family: Roboto Slab;
	}	

	.oapen-two-col {
		column-count: 2;
		column-width: 20em;	
	}	

	a {
		color: $nice-blue;	
		&:visited {
			color: #57B;
		}
	}	
}	

.oapen-summary {
	
	padding: 2rem;
	border-bottom: solid 1px #ddd; 
}	


.oapen-article {
	
	margin-bottom: 1rem;

	&:nth-of-type(n+2) {

		// in a(n aggregated) list of articles, subsequent article headers 
		// are scaled one step down
		h1 { font-size: $h2size; color: #333; }	
		h2 { font-size: $h3size; }	
		h3 { font-size: $h4size; }
		h4 { font-size: $h5size; }
		h5 { font-size: $h6size; }
		h6 { font-size: $h6size; }
	}	
	
	.content {
		
		p,ul,ol,li {
			max-width: 50em;	
		}	
	}

	.column:empty {
		display: none;	
	}			
}


.oapen-linked-articles,
.oapen-related-articles,
.oapen-section-topics { 
	
	ul {
		margin: 1em 0;
		font-size: 95%;
	}
}	

.oapen-attachments {
	
	background: #999;
	padding: 1rem 2rem;
	color: white;
	
	.oapen-attachments-header {
		font-size: $h3size;
		font-family: Roboto Slab;
	}	
	
	a {
		color: white; 
	}	

	ul {
		margin: 1.5em 0;
		padding: 0 1em;
		
		li {
			margin: 1em 0;	
		}	
	}

	.is-title {
		color: white;
	}	
}

.oapen-snippets {

	iframe {
		width: 100%;	
	}		

	/* height sizing is handled by script */

}	


.oapen-prevnext {
	
	display: flex; 
	justify-content: space-between; 
	margin: 1rem 0;
	font-size: 95%;

	.oapen-prevarticle {
		margin-right: .5em;
		min-width: 40%;
		text-align: left;
		@include fa-before('\f104', $valign:baseline);
	}
	.oapen-nextarticle {
		margin-left: .5em;
		min-width: 40%;
		text-align: right;
		@include fa-after('\f105', $valign:baseline);
	}
	
}


.oapen-blogpost {
	
	.oapen-date {
		opacity: .8;
		font-size: 80%;
		font-weight: bolder;
		text-transform: uppercase;
	}

	.oapen-blogpost-hbar {
		
		font-size: 90%;
		padding: .5em 1em;
		background: #dfdfdf;
		
		a {
			color: #444;
		}	
		img {
			vertical-align: middle;
		}	
				
	}	
}	

.oapen-hypotheses-items {
	
	ul {
		margin: 1em 0;	
	}	

	li {
		margin: 0 0 1em 0;
		padding: 0 0 1em 0;
		border-bottom: solid 1px #eee;	
	}	

	.oapen-blogpost-title {
		font-size: 1.15rem;
	}	 
		
	.oapen-blogpost-description {
		font-size: 95%;
	}	

	.oapen-date {
		opacity: .6;
		font-size: 80%;
		font-weight: bolder;
		text-transform: uppercase;
	}		
	
}	

.oapen-table-wrapper {
	
	margin: 1em 0 2em 0;
	
	/* Do NOT remove media query: this doesn't work
	for flex layouts, so can only be used on the small mobile layout
	(usually the only place where it is needed too).*/  
	@media screen and (max-width: 768px) { 
	
		overflow-x: auto;
		
		table td {
			min-width: 15em;
		}
	}		
}	

.oapen-table-swipe {

	display: none;
	font-size: 85%;
	background: #f4f4f4;
	white-space: nowrap;
	@include fa-before('\f177', 1em, .15em, bottom) {};
	@include fa-after('\f178', 1em, .15em, bottom) {};

	@media screen and (max-width: 768px) {
		display: block;
		text-align: center;
	}		
}




	