<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Home</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
	<main layout:fragment="content" class="oapen-main home">

		<section class="bulma-section oapen-home-hero">

			<div class="bulma-container">

				<th:block th:insert="home/herosearch :: hero">
					Hero content
				</th:block>

			</div>

		</section>

		<section class="bulma-section oapen-home-intro">

			<div class="bulma-container">
				<p class="bulma-is-size-5" th:utext="${home_intro}">
					Home intro text
				</p>
			</div>

		</section>
		
		<section class="bulma-section oapen-home-featured">
		
			<div class="bulma-container">
			
				<a class="bulma-is-hidden" th:href="@{'/featuredtitles'}">Featured Titles</a>
		
				<div class="carouselloader" th:data-src="@{'/featuredtitles'} + ' #FeaturedTitles'">
				</div>
				
			</div>	

		</section>

		<!--/*  
		<section class="section oapen-home-showcases">

			<div class="container">
				<th:block th:insert="home/showcases :: showcases">
					Showcases
				</th:block>
			</div>

		</section>
		*/-->

		<section class="bulma-section oapen-home-highlights">

			<div class="bulma-container">
				<th:block th:insert="home/highlights :: highlights">
					Highlights
				</th:block>
			</div>

		</section>


		<div class="bulma-section">

			<div class="bulma-container">

				<div class="bulma-columns">

					<div class="bulma-column">

						<section class="bulma-section oapen-home-news">

							<div class="bulma-container">
							
								<div class="bulma-columns bulma-is-multiline bulma-is-desktop">

									<th:block th:insert="home/spotlights :: spotlights">
										Spotlights
									</th:block>
									
									<th:block th:insert="home/blogposts :: blogposts">
										Blog Posts
									</th:block>
									
								</div>	
								
							</div>

						</section>

					</div>

					<!--/* 
					<div class="column is-4">

						<section class="section oapen-home-news">

							<div class="container">
								<th:block th:insert="home/socialmedia :: socialmedia">
									Social Media
								</th:block>
							</div>

						</section>

					</div>
					*/-->

				</div>

			</div>

		</div>
		
		<section class="bulma-section oapen-home-toolkit" th:if="${topictoolkit}">

			<div class="bulma-container">
				<th:block th:insert="home/toolkit :: toolkit">
					Toolkit banner
				</th:block>
			</div>

		</section>

		<!-- Funders collections — logo grid -->
		<section class="bulma-section oapen-home-collections">

			<th:block th:insert="home/funders :: funders">
				Funder collections
			</th:block>

		</section>

		<span th:text="${ip}" style="display:none">your ip</span>

	</main>

</body>
</html>




