<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN Home</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
	<main layout:fragment="content" class="oapen-main bulma-has-background-paper">

		<!-- Hero (Featured Titles + Search + Intro/Slogan) -->
		<section role="region"
						aria-label="Homepage hero">

			<!-- Tagline & intro -->
			<div class="bulma-hero-body">
				<div class="bulma-container">
					<th:block th:insert="home/herotagline :: tagline">Tagline</th:block>
				</div>
			</div>

			<!-- Featured titles -->
			<div class="bulma-hero-foot">
				<div class="bulma-container">
					<div class="bulma-mt-4" role="region" aria-label="New additions" aria-live="polite">
						<div class="carouselloader" th:data-src="|@{/featuredtitles} #FeaturedTitles|"></div>
					</div>
				</div>
			</div>

			<!-- Search -->
			<th:block th:insert="home/herosearch :: search">Tagline</th:block>
		</section>

		<!-- By the numbers -->
		<section class="bulma-hero bulma-is-medium bulma-has-background-ink bulma-has-text-paper">
			<div class="bulma-hero-body">
				<div class="bulma-container">

					<div class="bulma-columns bulma-is-vcentered">
						<!-- Left: intro -->
						<div class="bulma-column bulma-is-4-desktop">
							<header>
								<h2 class="bulma-title bulma-is-4 bulma-mb-0 bulma-has-text-weight-normal">Our collection, in numbers</h2>
								<p class="bulma-mt-4 bulma-is-size-5">
									These numbers reflect the collective global ambition to realise a fully open access books future.
								</p>
							</header>
						</div>

						<!-- Right: stats -->
						<div class="bulma-column bulma-is-8-desktop">
							<div class="bulma-columns">
								<article class="bulma-column bulma-is-one-quarter">
									<div class="oa-stat bulma-has-text-centered bulma-py-4">
										<p class="bulma-title bulma-is-2 bulma-mb-3">2,640</p>
										<p class="bulma-is-size-6">Subjects included</p>
									</div>
								</article>

								<article class="bulma-column bulma-is-one-quarter">
									<div class="oa-stat bulma-has-text-centered bulma-py-4">
										<p class="bulma-title bulma-is-2 bulma-mb-3">487</p>
										<p class="bulma-is-size-6">Participating publishers</p>
									</div>
								</article>

								<article class="bulma-column bulma-is-one-quarter">
									<div class="oa-stat bulma-has-text-centered bulma-py-4">
										<p class="bulma-title bulma-is-2 bulma-mb-3">125</p>
										<p class="bulma-is-size-6">Funded collections</p>
									</div>
								</article>

								<article class="bulma-column bulma-is-one-quarter">
									<div class="oa-stat bulma-has-text-centered bulma-py-4">
										<p class="bulma-title bulma-is-2 bulma-mb-3">86</p>
										<p class="bulma-is-size-6">Languages represented</p>
									</div>
								</article>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>


		<!-- Feed (Spotlights + Blog) -->
		<section class="bulma-section">
			<div class="bulma-container">
				<header
					class="bulma-level bulma-is-mobile bulma-pb-2 oa-section-header oa-has-star-left"
					th:classappend="' star-offset-' + ${T(java.lang.Math).round(T(java.lang.Math).random()*2 + 1)}"
					th:style="'--star-url:url(' + @{/static-assets/svg/Star4.svg} + '); --star-size:32px; ' +
          '--star2-url:url(' + @{/static-assets/svg/Star1.svg} + '); --star2-size:24px; --star2-x:78%;'">
					<div class="bulma-level-left">
						<h2 class="bulma-title bulma-is-4 bulma-pb-4 bulma-mb-0 bulma-has-text-weight-normal">The latest from OAPEN</h2>
					</div>
					<div class="bulma-level-right">
						<a th:href="@{/news}" class="bulma-link oa-link-underline">See all news →</a>
					</div>
				</header>
				<ul class="bulma-columns bulma-is-multiline bulma-is-variable bulma-is-6 bulma-is-align-items-stretch oa-feed" role="list">
					<th:block th:insert="home/spotlights :: spotlights">Spotlights</th:block>
					<th:block th:insert="home/blogposts :: blogposts">Blog posts</th:block>
					<th:block th:insert="home/blueskycard :: blueskycard">Bluesky feed</th:block>
				</ul>
			</div>
		</section>
		
		<!-- Toolkit (or any other promo) CTA -->
		<section class="bulma-hero bulma-is-halfheight bulma-has-background-brand bulma-has-text-paper oa-promo">
			<div class="bulma-hero-body bulma-is-align-items-center">
				<th:block th:insert="home/toolkit :: toolkit">Toolkit banner</th:block>
			</div>
		</section>

		<!-- Funders collections — logo grid -->
		<section class="bulma-section">

			<th:block th:insert="home/funders :: funders">
				Funder collections
			</th:block>

		</section>

		<span th:text="${ip}" style="display:none">your ip</span>

	</main>

</body>
</html>




