<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="bulma-section oapen-topic oapen-main" th:classappend="${topic.cssClass}">

		<div class="bulma-container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="bulma-columns">
			
				<!-- main content -->
				<div class="bulma-column bulma-is-three-quarters"> 
				
					<div class="bulma-content oapen-primary">

						<h1 th:text="${topic.name}">
							Topic title
						</h1>
		
						<div th:utext="${topic.description}"
						     class="topic" th:classappend="${topic.cssClass}">
		
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit.
							</p>
		
						</div>
						
					</div>	
					
					<div class="oapen-summaries">
					
						<article th:each="article: ${articles}" class="bulma-content oapen-summary">
			
							<h2 th:text="${article.title}">
								Article title
							</h2>
			
							<div th:utext="${article.summary}">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit.
							</div>
			
							<p>
								<a th:href="@{'/'+${section.slug}+'/article/'+${article.slug}}">
									Read more
								</a>
							</p>
			
						</article>
						
					</div>	
					
				</div>	
					
				<!-- sidebar -->
				<div class="bulma-column">
				
					<th:block th:insert="include/currentsection :: topics"/>
				
				</div>

			</div>
			
		</div>	

	</main>

</body>
</html>




