<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="bulma-section oapen-topic oapen-main" th:classappend="${topic.cssClass}">
	
		<div class="bulma-container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="bulma-columns">
			
				<!-- main content left -->
				<div class="bulma-column bulma-is-three-quarters">
				
					<p th:if="${#lists.isEmpty(articles)}">Nothing here yet...</p>

					<th:block th:if="${firstarticle}"> 

						<article 
							class="bulma-is-clearfix oapen-article oapen-primary" th:classappend="${firstarticle.cssClass}">
							
							<div class="bulma-columns">
							
								<div class="bulma-column">
		
									<div th:utext="${firstarticle.content}" class="bulma-content">
										Article content
									</div>
									
								</div>
			
								<div class="bulma-column bulma-is-one-quarter" th:if="${not #lists.isEmpty(firstarticle.media)}">
	
									<figure class="oapen-image" th:each="media: ${@viewhelpers.images(firstarticle.media)}">
										<a data-fancybox="gallery" th:href="${media.url}">
											<img th:src="${media.url}" alt="">
										</a>
									</figure>
	
								</div>
								
							</div>
							
							<th:block th:insert="include/snippets :: snippets" th:with="article=${firstarticle}" />
		
						</article>
						
						<th:block th:insert="include/attachments :: attachments" th:with="article=${firstarticle}" />
						
					</th:block>	
				
				</div>
			
				<!-- sidebar right -->
				<div class="bulma-column">
				
					<th:block th:insert="include/currentsection :: topics"/>

					<th:block th:insert="include/relatedarticles :: linked"/>

					<th:block th:insert="include/relatedarticles :: related"/>
				
				</div>
			
			</div>

		</div>

	</main>

</body>
</html>




