<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="bulma-section oapen-main" layout:fragment="content">

		<div class="bulma-container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
			
			<div class="bulma-content">

				<h1 th:text="${topic.name}">
					Topic title
				</h1>
	
				<div th:utext="${topic.description}"
				     class="topic" th:classappend="${topic.cssClass}" >
	
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
					</p>
	
				</div>
			
			</div>

			<div class="oapen-toc bulma-content">
	
				<div class="oapen-toc-header">Contents for this topic</div>
				
				<hr class="bulma-is-hidden"/>
	
				<ul th:classappend="${#lists.size(articles) gt 7} ? 'oapen-two-col'">
					<li th:each="article : ${articles}">
						<a th:if="${section}" th:href="@{'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}" th:text="${article.title}">
							Link to article
						</a>
						<a th:if="${section==null}" th:href="@{'/article/'+${article.slug}}" th:text="${article.title}">
							Link to article
						</a>
					</li>
				</ul>
	
			</div>
			
		</div>	

	</main>

</body>
</html>




