<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="oapen-main oapen-funder-feature">

		<!--
		Hero
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<section class="bulma-hero oapen-funder-hero"
		 th:style="${funderBanner!=null?'background-image:url('+funderBanner+')':''}">

			<div class="bulma-hero-body">

				<div class="bulma-container">

					<h1 class="bulma-title bulma-is-1" th:text="${topic.name}">
						Funder name
					</h1>

					<h2 class="bulma-title bulma-is-3" th:utext="${topic.description}">
						Funder tagline (description)
				    </h2>

				</div>
			</div>

		</section>

		<!--
		Intro
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<section class="bulma-section">

			<div class="bulma-container" th:if="${firstarticle}">
			
				<article class="oapen-article" th:classappend="${firstarticle.cssClass}">

					<div class="bulma-columns">

						<div class="bulma-column bulma-is-three-quarter">
						
							<div class="oapen-primary bulma-content" th:utext="${firstarticle.content}">
								Article content
							</div>
						
						</div>

						<div class="bulma-column bulma-is-one-quarter oapen-funder-logo">
							<a th:href="${funderUrl}" target="_blank"><!-- argument='homepage' -->
								<img th:src="${funderLogo}" alt="logo"/>
							</a>	
						</div>

					</div>

				</article>
				
				<div class="bulma-columns" th:if="${#lists.size(articles) gt 1}">
				
					<div class="bulma-column bulma-is-three-quarter">
				
						<div class="bulma-content oapen-toc bulma-is-three-quarter" >
			
							<div class="oapen-toc-header">Read more</div>
							<hr class="bulma-is-hidden"/>
			
							<ul th:classappend="${#lists.size(articles) gt 7} ? 'oapen-two-col'">
								<!--/* skip first article (index=1) */-->
								<li th:if="${articleStat.index>0}"
								    th:each="article: ${articles}">
			
									<a th:href="@{'/article/'+${article.slug}}"
									   th:text="${article.title}">
										Link to Article
									</a>
			
								</li>
			
							</ul>
			
						</div>
						
					</div>	
					
					<div class="bulma-column bulma-is-one-quarter"></div>
	
				</div>
				
			</div>

		</section>

		<!--
		Featured titles
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<section class="bulma-section">

			<div class="bulma-container">

				<a class="bulma-is-hidden" th:href="@{'/fundertitles/'+${topic.slug}}" 
					th:text="'From the ' + ${topic.name} + ' collection'">Funder Titles</a>

				<div class="ajaxloader" th:data-src="@{'/fundertitles/'+${topic.slug}} + ' #FunderTitles'">
				</div>

			</div><!-- container -->

		</section>

		<!--
		Search this collection
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<section class="bulma-section oapen-funder-search">

			<div class="bulma-container">

				<h3 class="bulma-title bulma-is-5">
					Search the <span th:text="${topic.name}">Funder name</span> collection
				</h3>

				<!-- /* 
					http://doab-test.huma-num.fr/discover
						?filtertype_1=collection
						&filter_relational_operator_1=equals
						&filter_1=Swiss+National+Science+Foundation+(SNF)
						&submit_apply_filter=
						&query=Ordnung 
				*/ -->
				
				<div class="bulma-level">

					<!-- Left side -->
					<div class="bulma-level-left">
					
						<form th:action="${settings.dspace_site+'discover'}" class="bulma-level-item">
							<div class="bulma-field bulma-has-addons">
								<p class="bulma-control">
									<input class="bulma-input" type="text" name="query" placeholder="Search term">
									<input type="hidden" name="filtertype_1" value="collection" />
									<input type="hidden" name="filter_relational_operator_1" value="equals" />
									<input type="hidden" name="filter_1" th:value="${#strings.replace(collection,'+',' ')}" />
								</p>
								<p class="bulma-control">
									<button type="submit" class="bulma-button is-dark">
										<span class="bulma-icon bulma-is-small">
											<i class="fas fa-search" aria-hidden="true"></i>
										</span>
									</button>
								</p>
							</div>
						</form>

					</div>

					<!-- Right side -->
					<div class="bulma-level-right">
						<p class="bulma-level-item">
							<a class="bulma-button is-danger"
							   th:href="${settings.dspace_site+'browse?type=collection&value='+collection}">
								<span>Browse this collection</span>
								<span class="bulma-icon bulma-is-small">
									<i class="fas fa-caret-circle-right" aria-hidden="true"></i>
								</span>
							</a>
						</p>
					</div>

				</div>

			</div>

		</section>

	</main>

</body>
</html>




