<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Searchform
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<th:block th:fragment="featured">

	<h3 class="title is-6 oapen-section-caption">
		Featured titles
	</h3>

	<div id="slider" style="overflow:hidden;">

		<a th:each="item: ${featuredItems}"
		   th:href="${item.url}"
		   class="card">
			<div class="card-image">
				<figure class="image">
					<img th:src="${item.thumbnailPath}!=''?${settings.dspace_api}+${item.thumbnailPath}:@{'/static-assets/images/missing.png'}" alt="cover"/>
				</figure>
			</div>
			<div class="card-content">
				<div class="item__title" th:text="${item.title}">
					Item title
				</div>
			</div>
		</a>

	</div><!-- /slider -->

	<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
	<script>
		bulmaCarousel.attach('#slider', {
			slidesToScroll: 1,
			slidesToShow: 6,
		});
	</script>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

