<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Blogposts (Hypotheses)
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="blogposts">
  <li class="bulma-column bulma-is-full-mobile bulma-is-half-tablet bulma-is-one-third-desktop bulma-is-flex"
       th:each="blogPost : ${rssItems}">
    <th:block th:insert="~{home/feed_card :: card(
      title=${blogPost.title},
      url=@{'/blog/?link=' + ${@viewhelpers.urlEncode(blogPost.link)}},
      summary=${@viewhelpers.abbreviate(blogPost.description, 220)},
      category='Blog post'
    )}"></th:block>
  </li>

  <!-- Bluesky feed -->
  <li class="bulma-column bulma-is-full-mobile bulma-is-half-tablet bulma-is-one-third-desktop bulma-is-flex">
    <article class="bulma-card bulma-is-radiusless bulma-is-shadowless bulma-is-flex bulma-is-flex-direction-column bulma-is-flex-grow-1 oa-feed-item">
      <div class="bulma-card-content">
        <h3 class="bulma-is-sr-only">Find us on Bluesky</h3>

        <div class="oa-bluesky-feed">
          <bsky-embed 
            username="oapenbooks.bsky.social" 
            mode="light" 
            limit="5"
            custom-styles="
              /* hide profile avatar */
              img[alt='profile picture'] { display:none !important; }

              /* remove left indent used when an avatar is present */
              .ml-10 { margin-left: 0 !important; }

              /* inherit typography from page */
              :host { font-family: inherit !important; font-size: inherit !important; line-height: 1.6 !important } 
              .light, .dark, article, p, a, span, div, time, h1, h2, h3, h4, h5, h6 {font-size: 0.95em !important font-family: inherit !important; }
              
              /* reduce boldness of headings */
              .font-bold { font-weight: 500 !important; } 
          ">
          </bsky-embed>
        </div>

        <!-- CTA -->
        <div class="bulma-mt-5">
          <a class="bulma-card-footer-item bulma-button bulma-is-small bulma-is-outlined bulma-is-dark bulma-is-shadowless"
            href="https://bsky.app/profile/oapenbooks.bsky.social" 
            th:attrappend="aria-label=${'Read more: ' + title}">
            OAPEN on Bluesky
          </a>
        </div>
      </div>
      </div>
    </article>
  </li>
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

