<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Hero (with search form and
	browse shortcuts)
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="hero_left">
  <p class="bulma-title bulma-is-5 bulma-mb-1">OAPEN</p>
  <h1 class="bulma-title bulma-is-2 bulma-mb-4">
		A world of open access books<br>
		Open to all, built to last.
	</h1>
  <p class="bulma-is-size-5 bulma-mb-4">
    OAPEN connects diverse, peer-reviewed open access books through a global, multilingual infrastructure.
  </p>
  <p class="bulma-is-size-5 bulma-mb-6">
    <a th:href="@{'/about'}" class="bulma-link">Learn more about us →</a>
  </p>

  <!-- Search form -->
  <form th:action="${settings.dspace_site+'discover'}" class="oapen-hero-search-form" role="search">
    <div class="bulma-field bulma-has-addons">
      <p class="bulma-control bulma-is-expanded">
        <label for="ipt_search" class="bulma-is-sr-only">Search query</label>
        <input id="ipt_search" class="bulma-input oa-placeholder-75" type="text" name="query" placeholder="Search OAPEN Library">
      </p>
      <p class="bulma-control">
        <button type="submit" class="bulma-button bulma-is-shadowless">Search</button>
      </p>
    </div>
  </form>

  <!-- Browse shortcuts -->
  <div class="bulma-mt-4" role="group" aria-label="Browse by">
    <p class="bulma-is-size-5 bulma-mb-2">Browse by:</p>
    <ul class="bulma-tags">
      <li>
				<a class="bulma-tag bulma-is-rounded bulma-is-dark bulma-has-text-weight-semibold" th:href="${settings.dspace_site+'browse?type=classification_text'}">Subject</a>
			</li>
      <li>
      <a class="bulma-tag bulma-is-rounded bulma-is-dark bulma-has-text-weight-semibold" th:href="${settings.dspace_site+'browse?type=publisher'}">Publisher</a>
			</li>
      <li>
      <a class="bulma-tag bulma-is-rounded bulma-is-dark bulma-has-text-weight-semibold" th:href="${settings.dspace_site+'browse?type=language'}">Language</a>
			</li>
      <li>
      <a class="bulma-tag bulma-is-rounded bulma-is-dark bulma-has-text-weight-semibold" th:href="${settings.dspace_site+'browse?type=collection'}">Collections</a>
			</li>
		</ul>
  </div>
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

