<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Highlights
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="highlights">

	<div class="bulma-title bulma-is-6 oapen-section-caption bulma-is-hidden">Highlights</div>
	
	<hr class="bulma-is-hidden"/>

	<div class="bulma-columns oapen-home-highlight" th:each="article: ${highlights}" th:classappend="${article.cssClass}">

		<div class="bulma-column bulma-is-three-quarter-desktop bulma-is-two-third-tablet">

			<div>
				<h2 class="bulma-title bulma-is-5">
					<a th:href="@{'/article/'+${article.slug}}" th:text="${article.title}">
						Highlight title
					</a>
				</h2>
				<th:block th:utext="${article.summary}">
					Highlight dummy text
				</th:block>
			</div>

		</div>
		
		<div class="bulma-column bulma-is-one-quarter-desktop bulma-is-one-third-tablet" th:if="${not #lists.isEmpty(article.media)}">

			<figure class="oapen-image" th:each="media: ${@viewhelpers.images(article.media)}">
				<a data-fancybox="gallery" th:href="${media.url}">
					<img th:src="${media.url}" alt="">
				</a>
			</figure>

		</div>

	</div>
	
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

